
<!DOCTYPE html>
<html  lang="ro">
    <head>
        
        <meta charset="UTF-8">
        <meta name="description" content="Site-ul nostru C&D îți oferă o gamă variantă de articole vestimentare.">
        <meta name="keywords" content="C&D, site de haine, haine, pantaloni, bluze, tricouri, fuste">
        <title>C&D - Descriere</title>
        <%- include("../fragmente/head.ejs")  %>
    </head>
    <body class = "background-scroll">
        <%- include("../fragmente/header.ejs")  %>
    <main>
        <div id = "despre">
            <section>
                <div>
                    <div id="text-de-reflectat">
                      <h1>Despre site-ul C&D</h1>
                    </div>
                    <div id="text-reflectat">Despre site-ul C&D</div>
                  </div>
                
                <hr>
                
                <p>C&D este un site de haine care a luat amploare in anul 2022 datorita voua, clientilor care ne-ati facut promovare</p>
                <p>C&D reprezinta fuziunea dintre standard si new trend. Magazinul online C&D ofera echilibrul dintre confort si lux, practic si ceea ce se doreste.</p>
                <p> C&D s-a nascut pentru a crea minuni din lucruri simple. A aparut din mai multe motive. Pentru a oferi imbracaminte potrivite cu energia si spiritul C&D. Pentru ca C&D este un dulap sic online, multi-generatie, la indemana tuturor. O colectie pentru un stil de viata casual sau de lux.</p>
                <h2>Scop: Cresterea stocurilor</h2>
                <p>Scopul nostru este sa crestem stocurile, selectand cu atentie prin miile de oferte pe care le primim de la furnizorii nostri. Echipa C&D filtreaza astfel incat sa va punem la dispozitie doar acele produse care noi consideram ca merita atentia. Un mix intre calitate si pret accesibil.</p>
            
                <img src="/resurse/imagini/despre.jpg">
            </section>
        </div>
    </main>
    <div id="cerc">
        <div id="triunghi">
            <a href="#" title="Mergi sus" id="link-top">&#5123</a>
        </div>
    </div>
    
<%- include("../fragmente/footer.ejs")  %>
    </body>
</html>
