<footer>
    <!-- 13. telefon fictiv, adresa fictivă, e-mail fictiv, link-->
    <p id="end">
    <address>
        <a href="mailto:1ojocdiana@gmail.com"> Contactați-ne pe adresa de e-mail</a>
        <a href="tel:+0744950376"> Contactați-ne telefonic</a>
        <a href="https://wa.link/fa6dw0">Ne puteți scrie și pe WhatsAapp</a>
        <a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83/@44.4355355,26.0995867,15z/data=!4m2!3m1!1s0x0:0x493984726f0235f9?sa=X&ved=2ahUKEwiX5-H3ocD9AhXy7LsIHdbuC-AQ_BJ6BAhZEAg">Adresa la care ne puteți găsi</a>
        
    </address>
    <!--14-->
    <small>Copyright &copy; <time datetime="2023-03-03"> 3 martie 2023 </time> </small>
    <div id="banner"> Acesta este un proiect scolar !</div>
    </p>
</footer>