<header > 
        
    <h1 id="sigla">C&D</h1>

    
    <figure id = "poza_principala"> 
        <picture>
           <source media="(max-width:400px)" srcset="./resurse/imagini/pozaprinc.png">
           <source media="(max-width:600px)" srcset="./resurse/imagini/pozaprinc1.png">
           <source media="(max-width:800px)" srcset="./resurse/imagini/pozaprinc2.png">

           <img src = "./resurse/imagini/pozaprinc2.png" alt="imagine-sigla" title="Bucură-te de noile haine"> 
       
       </picture>     
       <figcaption><i>Distrează-te schimbându-ți garderoba</i></figcaption>
   </figure>
   
    
</header>
<nav>

    <label id="hamburger" for="ch-menu">
        <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">


   <ul class="meniu">
       <li><div id="acasa"><i class="fa-solid fa-house"></i>Acasa</div><div id="acasa-mediu"><i class="fa-solid fa-house"></i></div><!--unde avem submeniu nu trebuie sa avem link-->
           <ul>
            <!--ex c-->
               <li><a href="#welcome"><span class="sageata">→</span>Bine ați venit</a></li>
               <li><a href="#promoții"><span class="sageata">→</span>Promoții</a></li>
               <li><a href="#întrebări"><span class="sageata">→</span>Întrebări frecvente</a></li>
               <li><a href="#recenzii"><span class="sageata">→</span>Recenzii</a></li>
               <li><a href="#comunitate"><span class="sageata">→</span>Comunitatea C&D</a></li>
           </ul>
       </li>
       
       <li><div>Femei</div>
            <ul>
                <li><a href="#"><span class="sageata">→</span>Pantaloni</a></li>
                <li><a><span class="sageata">→</span>Bluze</a></li>
                <li><a><span class="sageata">→</span>Fuste</a></li>  
                <li><a><span class="sageata">→</span>Tricouri</a></li> 
            </ul>
        </li>
               <!-- <details><summary>Pantaloni</summary>                 
                   <li><a href="#meniu_sec">Pantaloni scurți</a><br/></li>
                   <li><a href="#meniu_sec">Pantaloni eleganți</a><br/></li>
                <li><a href="#meniu_sec">Blugi</a></li>
               </details>
            
           
               <details><summary>Bluze</summary>
                   <a href="#meniu_sec">Bluze elegante</a><br/>
                   <a href="#meniu_sec">Hanorace</a>
               </details>
           
           
               <details><summary>Fuste</summary>
                   <a href="#meniu_sec">Fuste lungi</a><br/>
                   <a href="#meniu_sec">Fuste midi</a><br/>
                   <a href="#meniu_sec">Fuste mini</a>
               </details>
       
               <details><summary>Tricouri</summary>
                   <a href="#meniu_sec">Tricouri</a>
               </details> -->
               
        

       <li><div>Barbați</div>
        <ul>
            <li><a><span class="sageata">→</span>Pantaloni</a></li>
            <li><a><span class="sageata">→</span>Bluze</a></li>  
            <li><a><span class="sageata">→</span>Tricouri</a></li> 
        </ul>
<!--                     
               <details><summary>Pantaloni</summary>                  
                   <a href="#">Pantaloni scurți</a><br/>
                   <a href="#">Pantaloni eleganți</a><br/>
                   <a href="#">Blugi</a>
               </details>
           
               <details><summary>Bluze</summary>
                   <a href="#">Bluze elegante</a><br/>
                   <a href="#">Hanorace</a>
               </details>
           
               <details><summary>Tricouri</summary>
                   <a href="#">Tricouri</a>
               </details>
            -->
       </li>
       
       <li><div>Copii</div>
            <ul>
                <li><a><span class="sageata">→</span>Pantaloni</a></li>
                <li><a><span class="sageata">→</span>Bluze</a></li>
                <li><a><span class="sageata">→</span>Fuste</a></li>  
                <li><a><span class="sageata">→</span>Tricouri</a></li> 
            </ul>
<!--                        
               <details><summary>Pantaloni</summary>                  
                   <a href="#">Pantaloni scurți</a><br/>
                   <a href="#">Pantaloni eleganți</a><br/>
                   <a href="#">Blugi</a>
               </details>
           
               <details><summary>Bluze</summary>
                   <a href="#">Bluze elegante</a><br/>
                   <a href="#">Hanorace</a>
               </details>
           
               <details><summary>Fuste</summary>
                   <a href="#">Fuste lungi</a><br/>
                   <a href="#">Fuste midi</a><br/>
                   <a href="#">Fuste mini</a>
               </details>
           
               <details><summary>Tricouri</summary>
                   <a href="#">Tricouri</a>
               </details> -->
           
       </li>
       
       <li><a href="#transport">Transport</a></li>
       
   </ul>
</nav>